*{
	font-family: 'Open Sans', helvetica, arial, sans;
}

.container {
	text-align: center;
	max-width: 500px;
	margin: auto;
	padding: 10%;
}

h2{
	
}

#time {
	font-size: 4em;
}

.actions{
	display: flex;
	justify-content: space-around;
}

.btn {
	border: none;
	border-radius: 10px;
	width: 30%;
	color: white;
	font-size: 1.5rem;
	line-height: 1.75em;
	outline: none;
}

#start:hover {
  background-color: #06cec9; /* Green */
  color: white;
}

#stop:hover{
	background-color: #fd8888 
}

#start{
	background-color: #008CBA;
}

#stop{
	background-color: #f44336;
}

